In [1]:
import pandas as pd

In [3]:
# Read 
file_path = "../Resources/14100328.csv"
df = pd.read_csv(file_path, error_bad_lines=False)
df.sample(n=5)

/Users/oi/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,REF_DATE,GEO,DGUID,National Occupational Classification,Job vacancy characteristics,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
21326498,2019-07,Yukon,2016A000260,Other assisting occupations in support of heal...,Social media,Proportion of job vacancies,Percentage,242,units,0,v105537470,12.392.39.2,NaN,..,NaN,NaN,1
8790663,2016-10,Alberta,2016A000248,"Other service support and related occupations,...",High school diploma or equivalent,Average offered hourly wage,Dollars,81,units,0,v105378180,10.147.6.5,14.60,A,NaN,NaN,2
11865110,2017-07,Quebec,2016A000224,Other technical inspectors and regulatory offi...,Temporary (seasonal and non-seasonal),Average offered hourly wage,Dollars,81,units,0,v104980938,6.97.32.5,23.95,B,NaN,NaN,2
26612951,2021-04,Quebec,2016A000224,Dentists [3113],"College, CEGEP and other non-university certif...",Job vacancies,Number,223,units,0,v104984035,6.361.9.1,NaN,x,NaN,NaN,0
15417186,2018-04,Manitoba,2016A000246,Athletes [5251],"Minimum experience level sought, all levels",Job vacancies,Number,223,units,0,v105184567,8.460.17.1,NaN,..,NaN,NaN,0

In [4]:
# df.head()

In [5]:
df2 = df.loc[(df['STATUS'] == 'A')|(df['STATUS'] == 'B')|(df['STATUS'] == 'C')|(df['STATUS'] == 'D')]

In [6]:
df2['REF_DATE'].unique()

array(['2015-01', '2015-04', '2015-07', '2015-10', '2016-01', '2016-04',
       '2016-07', '2016-10', '2017-01', '2017-04', '2017-07', '2017-10',
       '2018-01', '2018-04', '2018-07', '2018-10', '2019-01', '2019-04',
       '2019-07', '2019-10', '2020-01', '2020-10', '2021-01', '2021-04'],
      dtype=object)

In [7]:
df2 = df2.drop(df2[(df2['REF_DATE'] == '2020-01')|(df2['REF_DATE'] == '2020-10')|(df2['REF_DATE'] == '2021-01')|(df2['REF_DATE'] == '2021-04')|(df2['REF_DATE'] == '2015-01')].index)

In [8]:
df2['REF_DATE'].unique()

array(['2015-04', '2015-07', '2015-10', '2016-01', '2016-04', '2016-07',
       '2016-10', '2017-01', '2017-04', '2017-07', '2017-10', '2018-01',
       '2018-04', '2018-07', '2018-10', '2019-01', '2019-04', '2019-07',
       '2019-10'], dtype=object)

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3126034 entries, 1143184 to 22639128
Data columns (total 17 columns):
 #   Column                                Dtype
---  ------                                -----
 0   REF_DATE                              object
 1   GEO                                   object
 2   DGUID                                 object
 3   National Occupational Classification  object
 4   Job vacancy characteristics           object
 5   Statistics                            object
 6   UOM                                   object
 7   UOM_ID                                int64
 8   SCALAR_FACTOR                         object
 9   SCALAR_ID                             int64
 10  VECTOR                                object
 11  COORDINATE                            object
 12  VALUE                                 float64
 13  STATUS                                object
 14  SYMBOL                                float64
 15  TERMINATED                            object
 16  DECIMALS                              int64
dtypes: float64(2), int64(3), object(12)
memory usage: 429.3+ MB

In [10]:
df2 = df2.reset_index(drop=True)

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3126034 entries, 0 to 3126033
Data columns (total 17 columns):
 #   Column                                Dtype
---  ------                                -----
 0   REF_DATE                              object
 1   GEO                                   object
 2   DGUID                                 object
 3   National Occupational Classification  object
 4   Job vacancy characteristics           object
 5   Statistics                            object
 6   UOM                                   object
 7   UOM_ID                                int64
 8   SCALAR_FACTOR                         object
 9   SCALAR_ID                             int64
 10  VECTOR                                object
 11  COORDINATE                            object
 12  VALUE                                 float64
 13  STATUS                                object
 14  SYMBOL                                float64
 15  TERMINATED                            object
 16  DECIMALS                              int64
dtypes: float64(2), int64(3), object(12)
memory usage: 405.4+ MB

In [12]:
df2.to_csv('../Resources/VacanciesRawData.csv',index=False)