In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("14100328.csv")
df.head(20)

C:\Users\Alec\Downloads\Anaconda\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3437: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,REF_DATE,GEO,DGUID,National Occupational Classification,Job vacancy characteristics,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2015-01,Canada,2016A000011124,"Total, all occupations","Type of work, all types",Job vacancies,Number,223,units,0,v104496271,1.1.1.1,408125.00,E,NaN,NaN,0
1,2015-01,Canada,2016A000011124,"Total, all occupations","Type of work, all types",Proportion of job vacancies,Percentage,242,units,0,v104496272,1.1.1.2,100.00,NaN,NaN,NaN,1
2,2015-01,Canada,2016A000011124,"Total, all occupations","Type of work, all types",Average offered hourly wage,Dollars,81,units,0,v104496273,1.1.1.5,19.15,D,NaN,NaN,2
3,2015-01,Canada,2016A000011124,"Total, all occupations",Full-time,Job vacancies,Number,223,units,0,v104496274,1.1.2.1,303685.00,E,NaN,NaN,0
4,2015-01,Canada,2016A000011124,"Total, all occupations",Full-time,Proportion of job vacancies,Percentage,242,units,0,v104496275,1.1.2.2,74.40,D,NaN,NaN,1
5,2015-01,Canada,2016A000011124,"Total, all occupations",Full-time,Average offered hourly wage,Dollars,81,units,0,v104496276,1.1.2.5,NaN,..,NaN,NaN,2
6,2015-01,Canada,2016A000011124,"Total, all occupations",Part-time,Job vacancies,Number,223,units,0,v104496277,1.1.3.1,104440.00,E,NaN,NaN,0
7,2015-01,Canada,2016A000011124,"Total, all occupations",Part-time,Proportion of job vacancies,Percentage,242,units,0,v104496278,1.1.3.2,25.60,E,NaN,NaN,1
8,2015-01,Canada,2016A000011124,"Total, all occupations",Part-time,Average offered hourly wage,Dollars,81,units,0,v104496279,1.1.3.5,NaN,..,NaN,NaN,2
9,2015-01,Canada,2016A000011124,"Total, all occupations","Minimum level of education required, all levels",Job vacancies,Number,223,units,0,v104496280,1.1.4.1,408125.00,E,NaN,NaN,0
10,2015-01,Canada,2016A000011124,"Total, all occupations","Minimum level of education required, all levels",Proportion of job vacancies,Percentage,242,units,0,v104496281,1.1.4.2,100.00,NaN,NaN,NaN,1
11,2015-01,Canada,2016A000011124,"Total, all occupations","Minimum level of education required, all levels",Average offered hourly wage,Dollars,81,units,0,v104496282,1.1.4.5,19.15,D,NaN,NaN,2
12,2015-01,Canada,2016A000011124,"Total, all occupations",No minimum level of education required,Job vacancies,Number,223,units,0,v104496283,1.1.5.1,NaN,..,NaN,NaN,0
13,2015-01,Canada,2016A000011124,"Total, all occupations",No minimum level of education required,Proportion of job vacancies,Percentage,242,units,0,v104496284,1.1.5.2,NaN,..,NaN,NaN,1
14,2015-01,Canada,2016A000011124,"Total, all occupations",No minimum level of education required,Average offered hourly wage,Dollars,81,units,0,v104496285,1.1.5.5,NaN,..,NaN,NaN,2
15,2015-01,Canada,2016A000011124,"Total, all occupations",High school diploma or equivalent,Job vacancies,Number,223,units,0,v104496286,1.1.6.1,NaN,..,NaN,NaN,0
16,2015-01,Canada,2016A000011124,"Total, all occupations",High school diploma or equivalent,Proportion of job vacancies,Percentage,242,units,0,v104496287,1.1.6.2,NaN,..,NaN,NaN,1
17,2015-01,Canada,2016A000011124,"Total, all occupations",High school diploma or equivalent,Average offered hourly wage,Dollars,81,units,0,v104496288,1.1.6.5,NaN,..,NaN,NaN,2
18,2015-01,Canada,2016A000011124,"Total, all occupations",Non-university certificate or diploma,Job vacancies,Number,223,units,0,v104496289,1.1.7.1,NaN,..,NaN,NaN,0
19,2015-01,Canada,2016A000011124,"Total, all occupations",Non-university certificate or diploma,Proportion of job vacancies,Percentage,242,units,0,v104496290,1.1.7.2,NaN,..,NaN,NaN,1

In [14]:
df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'National Occupational Classification',
       'Job vacancy characteristics', 'Statistics', 'UOM', 'UOM_ID',
       'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS',
       'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [18]:
df = df[["REF_DATE", "GEO", "National Occupational Classification", "Job vacancy characteristics", "Statistics", "UOM", "VALUE"]]
df.head()

,REF_DATE,GEO,National Occupational Classification,Job vacancy characteristics,Statistics,UOM,VALUE
0,2015-01,Canada,"Total, all occupations","Type of work, all types",Job vacancies,Number,408125.00
1,2015-01,Canada,"Total, all occupations","Type of work, all types",Proportion of job vacancies,Percentage,100.00
2,2015-01,Canada,"Total, all occupations","Type of work, all types",Average offered hourly wage,Dollars,19.15
3,2015-01,Canada,"Total, all occupations",Full-time,Job vacancies,Number,303685.00
4,2015-01,Canada,"Total, all occupations",Full-time,Proportion of job vacancies,Percentage,74.40

In [19]:
df.to_csv("14100328_Dropped_Columns.csv")

In [22]:
df["National Occupational Classification"].value_counts()

Total, all occupations                                                              39816
Service supervisors and specialized service occupations [63]                        39816
Chefs and cooks [632]                                                               39816
Cooks [6322]                                                                        39816
Transport and heavy equipment operation and related maintenance occupations [75]    39816
                                                                                    ...
Other personal service occupations [6564]                                           38976
Judges [4111]                                                                       38948
Non-commissioned ranks of the Canadian Armed Forces [4313]                          38948
Commissioned officers of the Canadian Armed Forces [0433]                           38934
Trappers and hunters [8442]                                                         38934
Name: National Occupational Classification, Length: 692, dtype: int64